<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Create Bean and set properties of the Bean via Constructor arguments -->
	<bean id="person" class="com.sjsu.edu.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy"
		factory-method="getInstance">
		<constructor-arg value="100" name="id"></constructor-arg>
		<constructor-arg value="Prashant" name="name"></constructor-arg>
		<property name="taxId" value="123"></property>
		<property name="address" ref="address"></property>
	</bean>
	
	<bean id="person2" class="com.sjsu.edu.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy"
		factory-method="createPerson" factory-bean="personfactory">
		<constructor-arg value="101" name="id"></constructor-arg>
		<constructor-arg value="Praveen" name="name"></constructor-arg>
		<property name="taxId" value="101"></property>
		<property name="address" ref="address"></property>
	</bean>
	<bean id="address" class="com.sjsu.edu.Address">
		<constructor-arg name="street"
			value="101 E. San Fernando Street">
		</constructor-arg>
		<constructor-arg name="postcode" value="95112"></constructor-arg>
	</bean>
	
	<bean id="address2" class="com.sjsu.edu.Address" p:street="Fatima Nagar" p:postcode="40113">
		
	</bean>
	<bean id="personfactory" class="com.sjsu.edu.PersonFactory"></bean>
</beans>
